*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.randomColorGenerator{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.color-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100px;
    width: 500px;
    border: 1px solid black;
}

#getrandomcolor-btn{
    padding: 15px 18px;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
}